<% skus = data.services %>

<div class="table-responsive">
  <div class="table-responsive">
    <table class="table-bordered">
      <thead>
      <tr>
        <th>SKU</th>
        <th>Item</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
          <% data.services.sort_by{ |s| [s.level, s.category] }.each_with_index do |service, index| %>
            <% if service.sku %>
            <tr>
                <td>
                    <a href="<%= service.standard_sow%>">
                    <%= service.sku %>
                    </a>
                </td>
                <td>
                  <a href="<%= service.desc_url%>">
                  <%= service.name %>
                  </a>
                </td>
                <td><%= service.category %></td>
                <td>
                  <% if service.price %>
                    <%= number_to_currency(service.price, precision: 0) %> 
                    <% if service.unit %>
                        per <%= service.unit %>
                    <% end%>
                  <% else %>
                    Custom
                  <% end %>
                </td>
            </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>